<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Komputasi Dasar</title>

    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>

    <div class="container content-center page-stack">

        <!-- NAVBAR (reuse component) -->
        <nav
            hx-get="../../components/navbar.html"
            hx-trigger="load"
            hx-swap="innerHTML">
        </nav>

        <main class="page-stack">

            <h1>Komputasi Dasar</h1>

            <!-- SUB NAV -->
            <div class="nav-group">
                <button class="nav-btn"
                    hx-get="materi1.html"
                    hx-target="#content">
                    Materi 1
                </button>

                <button class="nav-btn"
                    hx-get="materi2.html"
                    hx-target="#content">
                    Materi 2
                </button>

                <button class="nav-btn"
                    hx-get="materi3.html"
                    hx-target="#content">
                    Materi 3
                </button>
            </div>

            <!-- CONTENT -->
            <section id="content">
                <p>Pilih materi Komputasi Dasar.</p>
            </section>

        </main>

    </div>

</body>
</html>