<nav class="navbar">
    <div class="nav-inner">
        <div class="nav-group">
            <button class="nav-btn is-active"
                hx-get="/pages/home.html"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-indicator="#loading">
                Home
            </button>

            <button class="nav-btn"
                hx-get="/pages/matriks.html"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-indicator="#loading">
                Matriks
            </button>
            
            <button class="nav-btn"
                hx-get="/pages/lu.html"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-indicator="#loading">
                LU
            </button>

            <button class="nav-btn"
                hx-get="/pages/jacobi.html"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-indicator="#loading">
                Jacobi
            </button>


            <button class="nav-btn"
                hx-get="/pages/quest-jacobi.html"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-indicator="#loading">
                Soal
            </button>
            
            <button class="nav-btn"
                hx-get="/pages/test-jacobi.html"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-indicator="#loading">
                Implementasi
            </button>
        </div>
    </div>
</nav>