<nav class="navbar">
    <div class="nav-inner">

        <!-- LEFT -->
        <div class="nav-group nav-left">
            <a class="nav-btn" href="../../">Maul Dev</a>
        </div>

        <!-- CENTER -->
        <div class="nav-group nav-center">
            <a class="nav-btn"
                hx-get="../../pages/home.html"
                hx-target="#content"
                hx-swap="innerHTML">
                Home
            </a>
            <a class="nav-btn"
                hx-get="../../subject/metode-numerik.html"
                hx-target="#content"
                hx-swap="innerHTML">
                Metode Numerik
            </a>
            <a class="nav-btn"
                hx-get="../../subject/komputasi-dasar.html"
                hx-target="#content"
                hx-swap="innerHTML">
                Komputasi Dasar
            </a>
        </div>

        <!-- RIGHT -->
        <div class="nav-group">
            <div 
                id="nav-subject"
                hx-get="components/nav-subject.html"
                hx-trigger="load"
                hx-swap="innerHTML">
            </div>
        </div>

    </div>
</nav>