<div>

<div class="sidebar-section">
     <h3 class="sidebar-title sidebar-item" hx-get="/pages/home.html" hx-target="#content" style="text-align: center;">Beranda</h3>
</div>

    <!-- Container untuk load sidebar dinamis -->
    <div id="nav-content-1"
         hx-get="/components/nav/nav-metode-numerik.html"
         hx-trigger="load"
         hx-target="#nav-content-1">
    </div>

    <!-- Container untuk load sidebar dinamis -->
    <div id="nav-content-2"
         hx-get="/components/nav/nav-matematika-komputasi.html"
         hx-trigger="load"
         hx-target="#nav-content-2">
    </div>

    <!-- Container untuk load sidebar dinamis -->
    <div id="nav-content-4"
         hx-get="/components/nav/nav-pdb.html"
         hx-trigger="load"
         hx-target="#nav-content-4">
    </div>

    <!-- Container untuk load sidebar dinamis -->
    <div id="nav-content-3"
         hx-get="/components/nav/nav-pdp.html"
         hx-trigger="load"
         hx-target="#nav-content-3">
    </div>

    <div
     class="sidebar-item"
     hx-get="/pages/export/pdp-book.html"
     hx-target="#content">

     📖 Buku PDP
     </div>

<!-- Card group -->
</div>

