<!-- ====================================================================================================== -->
<!-- MATEMATIKA KOMPUTASI -->
<!-- ====================================================================================================== -->
<div class="sidebar-section">

    <div class="sidebar-group">

    <h3 class="sidebar-group-title">Matematika Komputasi</h3>

    <div class="sidebar-sub">

    <div class="sidebar-item"
        hx-get="/pages/subject/matematika-komputasi/pendahuluan.html"
        hx-target="#content">
        Pendahuluan
    </div>

    <!-- ========================= -->
    <!-- BAB 1 -->
    <!-- ========================= -->
    <div class="sidebar-group">
        <div class="sidebar-group-title">Bab 1: Matematika Komputasi ▾</div>
        <div class="sidebar-sub">
            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-1/pendahuluan.html"
                hx-target="#content">
                Pendahuluan
            </div>
            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-1/algoritma.html"
                hx-target="#content">
                Algoritma
            </div>
            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-1/flowchart.html"
                hx-target="#content">
                Flowchart
            </div>
            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-1/pseudocode.html"
                hx-target="#content">
                Pseudocode
            </div>

        </div>
    </div>

    <!-- ========================= -->
    <!-- BAB 2 -->
    <!-- ========================= -->
    <div class="sidebar-group">
        <div class="sidebar-group-title">Bab 2: Dasar Python ▾</div>
        <div class="sidebar-sub">

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-2/pendahuluan.html"
                hx-target="#content">
                Bahasa Pemograman Python
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-2/dasar-python.html"
                hx-target="#content">
                Tipe Data, Variabel, Operator
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-2/struktur-data.html"
                hx-target="#content">
                Struktur Data (List, Tuple, Dict)
            </div>

        </div>
    </div>

    <!-- ========================= -->
    <!-- BAB 3 -->
    <!-- ========================= -->
    <div class="sidebar-group">
        <div class="sidebar-group-title">Bab 3: Struktur Kontrol & Fungsi ▾</div>
        <div class="sidebar-sub">

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-3/pendahuluan.html"
                hx-target="#content">
                Pendahuluan
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-3/percabangan.html"
                hx-target="#content">
                Percabangan
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-3/perulangan.html"
                hx-target="#content">
                Perulangan
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-3/fungsi-dan-modul.html"
                hx-target="#content">
                Fungsi & Modul
            </div>

        </div>
    </div>

    <!-- ========================= -->
    <!-- BAB 4 -->
    <!-- ========================= -->
    <div class="sidebar-group">
        <div class="sidebar-group-title">Bab 4: Pemrograman Matematika ▾</div>
        <div class="sidebar-sub">

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-4/pendahuluan.html"
                hx-target="#content">
                Pendahuluan
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-4/library.html"
                hx-target="#content">
                Fungsi Matematika dan Library Python
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-4/konfigurasi-python.html"
                hx-target="#content">
                Konfigurasi Python
            </div>

            <div class="sidebar-group">
                <div class="sidebar-group-title">Permasalahan ▾</div>
                <div class="sidebar-sub">
                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/visualisasi-fungsi-matematika.html"
                        hx-target="#content">
                        Fungsi Matematika & Visualisasi Dasar
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/spl.html"
                        hx-target="#content">
                        Sistem Persamaan Linear
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/akar-persamaan.html"
                        hx-target="#content">
                        Akar Persamaan
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/diferensiasi-numerik.html"
                        hx-target="#content">
                        Diferensiasi Numerik
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/integral-numerik.html"
                        hx-target="#content">
                        Integral Numerik
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/optimasi-fungsi.html"
                        hx-target="#content">
                        Optimasi Fungsi
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/sistem-dinamis-dan-simulasi.html"
                        hx-target="#content">
                        Sistem Dinamis & Simulasi
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/statistik-dan-komputasi-data.html"
                        hx-target="#content">
                        Statistik & Komputasi Data
                    </div>

                    <div class="sidebar-item"
                        hx-get="/pages/subject/matematika-komputasi/bab-4/klasifikasi-soal/mini-project.html"
                        hx-target="#content">
                        Integrasi Model Komputasi (Mini Project)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-item"
        hx-get="/pages/subject/matematika-komputasi/uts/uts.html"
        hx-target="#content">
        UTS
    </div>

    <!-- ========================= -->
    <!-- BAB 5 -->
    <!-- ========================= -->
    <div class="sidebar-group">
        <div class="sidebar-group-title">Bab 5: Debugging & Error Handling ▾</div>
        <div class="sidebar-sub">

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-5/pendahuluan.html"
                hx-target="#content">
                Pendahuluan
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-5/debugging.html"
                hx-target="#content">
                Debugging
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-5/error-handling.html"
                hx-target="#content">
                Error Handling
            </div>

        </div>
    </div>

    <!-- ========================= -->
    <!-- BAB 6 -->
    <!-- ========================= -->
    <div class="sidebar-group">
        <div class="sidebar-group-title">Bab 6: Library & Visualisasi ▾</div>
        <div class="sidebar-sub">

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-6/numpy.html"
                hx-target="#content">
                NumPy
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-6/matplotlib.html"
                hx-target="#content">
                Matplotlib
            </div>

        </div>
    </div>

    <!-- ========================= -->
    <!-- BAB 7 -->
    <!-- ========================= -->
    <div class="sidebar-group">
        <div class="sidebar-group-title">Bab 7: Proyek Pemrograman ▾</div>
        <div class="sidebar-sub">

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-7/dev.html"
                hx-target="#content">
                Pengembangan Proyek
            </div>

            <div class="sidebar-item"
                hx-get="/pages/subject/matematika-komputasi/bab-7/presentation.html"
                hx-target="#content">
                Presentasi Proyek
            </div>

        </div>
    </div>
    </div>
    </div>

</div>